<a href="https://colab.research.google.com/github/freediver-mj/DScience/blob/main/ch2_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 불러오기

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/drive/MyDrive/DSciecne/ch2_iris.csv", index_col="caseno")

df.head()

        SepalLength  SepalWidth  PetalLength  PetalWidth Species
caseno
1               5.1         3.5          1.4         0.2  setosa
2               4.9         3.0          1.4         0.2  setosa
3               4.7         3.2          1.3         0.2  setosa
4               4.6         3.1          1.5         0.2  setosa
5               5.0         3.6          1.4         0.2  setosa

In [15]:
print(df)

        SepalLength  SepalWidth  PetalLength  PetalWidth    Species
caseno
1               5.1         3.5          1.4         0.2     setosa
2               4.9         3.0          1.4         0.2     setosa
3               4.7         3.2          1.3         0.2     setosa
4               4.6         3.1          1.5         0.2     setosa
5               5.0         3.6          1.4         0.2     setosa
...             ...         ...          ...         ...        ...
146             6.7         3.0          5.2         2.3  virginica
147             6.3         2.5          5.0         1.9  virginica
148             6.5         3.0          5.2         2.0  virginica
149             6.2         3.4          5.4         2.3  virginica
150             5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

# 중심위치 척도
# 평균

In [16]:
df.mean()

SepalLength    5.843333
SepalWidth     3.057333
PetalLength    3.758000
PetalWidth     1.199333
dtype: float64

In [17]:
np.mean(df)

SepalLength    5.843333
SepalWidth     3.057333
PetalLength    3.758000
PetalWidth     1.199333
dtype: float64

중앙값

In [18]:
df.median()

SepalLength    5.80
SepalWidth     3.00
PetalLength    4.35
PetalWidth     1.30
dtype: float64